@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
*@
@{
   
   
    ViewData["Title"] = "Twitter Users REST Client";
    bool imported = ViewBag.JsonImported ?? false;
}


<h2>Twitter Users REST Client</h2>
<hr />



<div class="card mb-4">
    <div class="card-header bg-primary text-white">Step 1: Search Twitter User</div>
    <div class="card-body">
        <form asp-action="ImportJson" method="post">
            <div class="input-group">
                <input type="text" name="username" class="form-control"
                       placeholder="Enter Twitter username" required />
                <button type="submit" class="btn btn-primary" @(imported ? "disabled" : "")>
                    Search & Save
                </button>
            </div>
        </form>
        @if (ViewBag.JobInfo != null)
        {
            <div class="alert alert-info mt-2">@ViewBag.JobInfo</div>
        }
    </div>
</div>





<div class="card mb-4">
    <div class="card-header bg-success text-white">Manage Users</div>
    <div class="card-body">
       
        <h5>Create New User</h5>
        <form asp-action="CreateUser" method="post" class="mb-4" id="createForm">
            <div class="row g-3">
               
                <div class="col-md-3">
                    <input type="text" name="username" class="form-control" placeholder="Username" required>
                </div>
                <div class="col-md-3">
                    <input type="text" name="name" class="form-control" placeholder="Name">
                </div>
                <div class="col-md-3">
                    <input type="number" name="follower_count" class="form-control" placeholder="Followers">
                </div>
                <div class="col-md-3">
                    <input type="number" name="following_count" class="form-control" placeholder="Following">
                </div>
                <div class="col-md-3">
                    <input type="text" name="description" class="form-control" placeholder="Description">
                </div>
                <div class="col-md-3">
                    <input type="text" name="location" class="form-control" placeholder="Location">
                </div>
                <div class="col-md-3">
                    <input type="text" name="profile_pic_url" class="form-control" placeholder="Profile Pic URL">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </form>

       
        <h5>Update User</h5>
        <form asp-action="UpdateUser" method="post" class="mb-4" id="updateForm">
            <div class="row g-3">
                <div class="col-md-4">
                    <input type="text" name="userId" class="form-control" placeholder="User ID" required>
                </div>
                <div class="col-md-4">
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="col-md-3">
                    <input type="text" name="name" class="form-control" placeholder="Name">
                </div>
                <div class="col-md-3">
                    <input type="number" name="follower_count" class="form-control" placeholder="Followers">
                </div>
                <div class="col-md-3">
                    <input type="number" name="following_count" class="form-control" placeholder="Following">
                </div>
                <div class="col-md-3">
                    <input type="text" name="description" class="form-control" placeholder=" Description">
                </div>
                <div class="col-md-3">
                    <input type="text" name="location" class="form-control" placeholder="Location">
                </div>
                <div class="col-md-3">
                    <input type="text" name="profile_pic_url" class="form-control" placeholder="Profile Pic URL">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning">Update</button>
                </div>
            </div>
        </form>

       

        <div class="card mt-4">
            <div class="card-header bg-info text-white">
                Saved Users
                <button type="button" class="btn btn-sm btn-light float-right" onclick="refreshUserTable()">
                    🔄 Refresh
                </button>
            </div>
            <div class="card-body">
                <div id="userTableContainer">
                    @Html.Partial("_UsersTable")
                </div>
            </div>
        </div>

      
        

    </div>
</div>



@section Scripts {
    <script>
        
        function refreshUserTable() {
            $.ajax({
                url: '@Url.Action("GetUsersTable", "Rest")',
                type: 'GET',
                success: function(data) {
                    $('#userTableContainer').html(data);
                },
                error: function() {
                    alert('Error refreshing user table');
                }
            });
        }

     
        function importUser() {
            var username = $('#usernameInput').val(); 
            
            $.ajax({
                url: '@Url.Action("ImportJson", "Rest")',
                type: 'POST',
                data: { username: username },
                success: function(response) {
                    
                    if (response.success) {
                        alert('User imported successfully!');
                       
                        refreshUserTable();
                        
                        $('#usernameInput').val('');
                    } else {
                        alert('Error importing user: ' + response.message);
                    }
                },
                error: function() {
                    alert('Error importing user');
                }
            });
        }

        
        function populateUpdateForm(userId, username, name, followerCount, followingCount, description, location, profilePicUrl) {
            var form = document.getElementById('updateForm');
            form.querySelector('input[name="userId"]').value = userId;
            form.querySelector('input[name="username"]').value = username;
            form.querySelector('input[name="name"]').value = name;
            form.querySelector('input[name="follower_count"]').value = followerCount;
            form.querySelector('input[name="following_count"]').value = followingCount;
            form.querySelector('input[name="description"]').value = description;
            form.querySelector('input[name="location"]').value = location;
            form.querySelector('input[name="profile_pic_url"]').value = profilePicUrl;
            
            form.scrollIntoView({ behavior: 'smooth' });
        }
    </script>
}
